# programming 
*.[oa]
*.d
test
main

# compile files
src/*.h

# hidden files
*.cx
*~
*.autosave
*.bak

# folders
old
doc
out*
own
dpl

# other
*.zip
base.conf

# Ignore everything starting with dot, exept .gitignore
.*
!.gitignore
